/*--------------------------------------------------------------*/

/* #region - Carousel */

/*--------------------------------------------------------------*/

.wdt-products-carousel-container {
    clear: both;
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
}

.wdt-products-carousel-container ul.products li .wdt-col {
    /* padding: 0 1px; */
    width: 100%;
}

.wdt-products-carousel-container .swiper-container[data-carouselslidesperview="1"] ul.products li .wdt-col {
    padding: 0;
}

.wdt-products-carousel-container .swiper-container[data-carouselslidesperview="1"] ul.products li.product .product-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

div[class*="product"] .swiper-container.swiper-container-vertical {
    height: 500px;
}

div[class*="product"] .swiper-container.swiper-container-horizontal .swiper-wrapper {
    cursor: e-resize;
}

div[class*="product"] .swiper-container.swiper-container-vertical .swiper-wrapper {
    cursor: s-resize;
}

div[class*="thumb-container"] .swiper-wrapper .swiper-slide {
    cursor: pointer;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-wrapper,
.swiper-wrapper .swiper-slide {
    cursor: grab;
}

div[class*="thumb-container"] .swiper-wrapper .swiper-slide img {
    border: 2px solid transparent;
    margin: auto;
    padding: 0;
    -webkit-box-shadow: 0 0 0 1px rgba(var(--wdtHeadAltColorRgb), 0.05) inset;
    box-shadow: 0 0 0 1px rgba(var(--wdtHeadAltColorRgb), 0.05) inset;
    -webkit-transition: var(--wdtBaseTransition);
    transition: var(--wdtBaseTransition);
}

div[class*="thumb-container"] .swiper-wrapper .swiper-slide-thumb-active img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*div[class*="thumb-container"] .swiper-wrapper .swiper-slide:after { border: 1px solid; content: ""; opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; top: 0; visibility: hidden; -webkit-transition: var(--wdtBaseTransition); transition: var(--wdtBaseTransition); }
    div[class*="thumb-container"] .swiper-wrapper .swiper-slide.swiper-slide-active:after { opacity: 1; visibility: visible; }*/

div[class*="thumb-container"].swiper-container.swiper-container-vertical .swiper-wrapper {
    justify-content: center;
}

div[class*="thumb-container"].swiper-container.swiper-container-vertical .swiper-wrapper .swiper-slide {
    height: auto;
}

div[class*="thumb-container"].swiper-container.swiper-container-vertical .swiper-wrapper .swiper-slide img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center center;
}

div[class*="product"] .swiper-container {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

div[class*="product"] .swiper-container.swiper-container-vertical .swiper-wrapper .swiper-slide {
    overflow: hidden;
}

div[class*="thumb-container"].swiper-container.swiper-container-horizontal .swiper-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Carousel ScrollBar */

div[class*="product"] .swiper-container div[class*="pagination-holder"]>div[class*="scrollbar"] {
    float: left;
    height: 8px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-image: none;
    background: var(--wdtAccentTxtColor);
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="pagination-holder"]>div[class*="scrollbar"] {
    height: 100%;
    margin: 0;
    right: 0;
    top: 0;
    width: 8px;
    background-image: none;
}

div[class*="product"] .swiper-container div[class*="pagination-holder"]>div[class*="scrollbar"] .swiper-scrollbar-drag {
    background: var(--wdtPrimaryColor);
}

div[class*="product"] .swiper-container div[class*="pagination-holder"]>div[class*="scrollbar"]:before,
div[class*="product"] .swiper-container div[class*="pagination-holder"]>div[class*="scrollbar"]:after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}

div[class*="product"] .swiper-container.swiper-container-horizontal div[class*="pagination-holder"]>div[class*="scrollbar"]:before {
    top: -1px;
}

div[class*="product"] .swiper-container.swiper-container-horizontal div[class*="pagination-holder"]>div[class*="scrollbar"]:after {
    bottom: -1px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="pagination-holder"]>div[class*="scrollbar"]:before {
    left: -1px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="pagination-holder"]>div[class*="scrollbar"]:after {
    right: -1px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="pagination-holder"]>div[class*="scrollbar"]:before,
div[class*="product"] .swiper-container.swiper-container-vertical div[class*="pagination-holder"]>div[class*="scrollbar"]:after {
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 100%);
}

div[class*="product"] .swiper-container div[class$="scrollbar"] .swiper-scrollbar-drag {
    background-color: var(--wdtPrimaryColor);
    border-radius: inherit;
}

div[class*="product"] .swiper-container.swiper-container-horizontal[data-carouselscrollbar="true"] {
    padding-bottom: 30px;
}

div[class*="product"] .swiper-container.swiper-container-horizontal div[class*="scrollbar"] {
    bottom: 0;
}

div[class*="product"] .swiper-container.swiper-container-horizontal[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="scrollbar"] {
    bottom: 0;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselscrollbar="true"] {
    padding-right: 30px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="scrollbar"] {
    right: 0;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="scrollbar"] {
    right: 0;
}

/* Related Product-Pagination-starts */

.wdt-related-product-image-gallery-pagination-holder {
    margin: 20px 0;
}

/*  Related Product-Pagination-ends */

/* Carousel Bullets */

.wdt-related-product-image-gallery-bullet-pagination,
div[class*="product"] .swiper-container div[class*="bullet-pagination"] {
    float: left;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.wdt-related-product-image-gallery-pagination-holder .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
div[class*="product"] .swiper-container div[class*="bullet-pagination"] .swiper-pagination-bullet {
    background: none;
    height: 18px;
    padding: 0;
    position: relative;
    width: 18px;
}

.wdt-related-product-image-gallery-pagination-holder .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:before,
div[class*="product"] .swiper-container div[class*="bullet-pagination"] .swiper-pagination-bullet:before {
    background-color: var(--wdtBodyTxtColor);
    content: "";
    height: auto;
    margin: auto;
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    top: 3px;
    width: auto;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: var(--wdtBaseTransition);
    transition: var(--wdtBaseTransition);
}

.wdt-related-product-image-gallery-pagination-holder .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active:before,
div[class*="product"] .swiper-container div[class*="bullet-pagination"] .swiper-pagination-bullet-active:before {
    background-color: var(--wdtPrimaryColor);
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="bullet-pagination"] {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 32px;
    width: 16px;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="bullet-pagination"] .swiper-pagination-bullet {
    display: block;
}

div[class*="product"] .swiper-container.swiper-container-horizontal[data-carouselbulletpagination="true"] {
    padding-bottom: 30px;
}

div[class*="product"] .swiper-container.swiper-container-horizontal div[class*="bullet-pagination"] {
    bottom: 0;
}

div[class*="product"] .swiper-container.swiper-container-horizontal[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] {
    padding-bottom: 60px;
}

div[class*="product"] .swiper-container.swiper-container-horizontal[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="bullet-pagination"] {
    bottom: 25px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"] {
    padding-right: 30px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="bullet-pagination"] {
    right: 0;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] {
    padding-right: 60px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="bullet-pagination"] {
    right: 25px;
}

/* Carousel Arrows */

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow-prev"],
div[class*="product"] .swiper-container:hover div[class*="arrow-pagination"]>a.wdt-products-arrow-prev {
    left: 0;
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow-next"],
div[class*="product"] .swiper-container:hover div[class*="arrow-pagination"]>a.wdt-products-arrow-next {
    right: 0;
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow-next"]:before,
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a.wdt-products-arrow-next:before {
    content: '\f105';
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow-prev"]:before,
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a.wdt-products-arrow-prev:before {
    content: '\f104';
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow"]:before,
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a.wdt-products-arrow-prev:before,
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a.wdt-products-arrow-next::before {
    font-family: "wdt-ext-icon";
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    text-decoration: inherit;
    font-size: calc(var(--wdtFontSize_Base) - 2px);
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow"],
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class*="arrow"] {
    padding: 0;
    font-size: 0;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    visibility: hidden;
    width: 40px;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class*="arrow"] {
    background-color: rgba(var(--wdtHeadAltColorRgb), 0.15);
    color: var(--wdtAccentTxtColor);
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class*="arrow"]:hover {
    background-color: rgba(var(--wdtHeadAltColorRgb), 0.35);
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class$="arrow-prev"] {
    margin-left: -40px;
    left: 0;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class$="arrow-next"] {
    margin-right: -40px;
    right: 0;
}

.wdt-product-related-products.wdt-woo-carousel:hover .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow"],
div[class*="product"] .swiper-container:hover div[class*="arrow-pagination"]>a[class*="arrow"] {
    opacity: 1;
    visibility: visible;
}

div[class*="product"] .swiper-container:hover div[class*="arrow-pagination"]>a[class$="arrow-prev"] {
    margin-left: 0;
}

div[class*="product"] .swiper-container:hover div[class*="arrow-pagination"]>a[class$="arrow-next"] {
    margin-right: 0;
}

.wdt-product-related-products.wdt-woo-carousel .wdt-related-product-image-arrow-pagination>a[class*="wdt-related-product-image-gallery-arrow"]::before,
div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class*="arrow"]:before {
    display: block;
    font-family: 'Teapoy Icons';
    font-size: 30px;
    line-height: inherit;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class$="arrow-prev"]:before {
    content: "\f104";
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"]>a[class$="arrow-next"]:before {
    content: "\f105";
}

/* div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"] > a[class*="arrow"] { height: 40px; line-height: 40px; left: 50%; width: 80px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
    div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"] > a[class*="arrow"]:before { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

    div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"] > a[class$="arrow-prev"] { margin: -40px 0 0; top: 0; }
    div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"] > a[class$="arrow-next"] { margin: 0 0 -40px; bottom: 0; top: auto; } */

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2 {
    float: left;
    margin: 25px auto 0;
    position: relative;
    text-align: center;
    width: 100%;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"] {
    display: inline-block;
    font-size: 0;
    height: 50px;
    line-height: 0;
    margin: 0 1px;
    opacity: 1;
    position: static;
    visibility: visible;
    width: 35px;
    transform: none;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"]:before {
    font-size: 18px;
    line-height: 50px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"].type2 {
    height: auto;
    margin: auto 25px auto 0;
    width: 50px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"].type2>a[class*="arrow"] {
    float: left;
    height: 35px;
    width: 50px;
}

div[class*="product"] .swiper-container.swiper-container-vertical div[class*="arrow-pagination"].type2>a[class*="arrow"]:before {
    line-height: 35px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselscrollbar="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"],
div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"] {
    margin-top: -15px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"] {
    margin-top: -30px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselscrollbar="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"],
div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"] {
    margin-left: -15px;
}

div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"][data-carouselscrollbar="true"] div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"] {
    margin-left: -30px;
}

div[class*="product"] .swiper-container.swiper-container-vertical:hover div[class*="arrow-pagination"]>a[class$="arrow-prev"],
div[class*="product"] .swiper-container.swiper-container-vertical[data-carouselbulletpagination="true"]:hover div[class*="arrow-pagination"]:not(.type2)>a[class*="arrow"] {
    margin-top: 0;
}

div[class*="product"] .swiper-container.swiper-container-vertical:hover div[class*="arrow-pagination"]>a[class$="arrow-next"] {
    margin-bottom: 0;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"] {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid var(--wdtSecondaryColor);
    border-radius: 50%;
    margin: 5px;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"]:before {
    -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.58644V11.9774H2.10196L8.791 5.28291V12H12V1.52554L10.1696 0H0.135516V3.09676H6.48576L0 9.58644Z' fill='currentcolor'/%3E%3C/svg%3E");
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.58644V11.9774H2.10196L8.791 5.28291V12H12V1.52554L10.1696 0H0.135516V3.09676H6.48576L0 9.58644Z' fill='currentcolor'/%3E%3C/svg%3E");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    content: '';
    background: var(--wdtSecondaryColor);
    width: 10px;
    height: 100%;
    margin: auto;
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a.wdt-products-arrow-prev:before {
    transform: rotate(-90deg);
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"]:hover {
    background: var(--wdtSecondaryColor);
}

div[class*="product"] .swiper-container div[class*="arrow-pagination"].type2>a[class*="arrow"]:hover:before {
    background: var(--wdtAccentTxtColor);
}

/* #endregion - Carousel */