.elementor-3595 .elementor-element.elementor-element-3eea62b>.elementor-element-populated {
    padding: 0px 40px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-3595 .elementor-element.elementor-element-9ef2701 {
    text-align: left;
}

.elementor-3595 .elementor-element.elementor-element-9ef2701 img {
    border-radius: 12px 12px 12px 12px;
}

.elementor-3595 .elementor-element.elementor-element-94e89a4>.elementor-element-populated {
    padding: 0px 25px 0px 25px;
}

.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder,
.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    color: var( --e-global-color-primary);
}

.elementor-3595 .elementor-element.elementor-element-1712e85 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

body.rtl .elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

body:not(.rtl) .elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f {
    --e-icon-list-icon-size: 13px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 3px;
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-icon {
    padding-right: 2px;
}

.elementor-3595 .elementor-element.elementor-element-31d6e2f .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder,
.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    color: var( --e-global-color-primary);
}

.elementor-3595 .elementor-element.elementor-element-65e5c5f .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-3595 .elementor-element.elementor-element-ceb343c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3595 .elementor-element.elementor-element-19778b0 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3595 .elementor-element.elementor-element-19778b0 .wdt-content-item .wdt-content-subtitle {
    color: var( --e-global-color-text);
}

.elementor-3595 .elementor-element.elementor-element-19778b0 .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    color: var( --e-global-color-primary);
}

.elementor-3595 .elementor-element.elementor-element-19778b0>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-3595 .elementor-element.elementor-element-19778b0 {
    width: var( --container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-3595 .elementor-element.elementor-element-890e933 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3595 .elementor-element.elementor-element-890e933 .wdt-content-item .wdt-content-subtitle {
    color: var( --e-global-color-text);
}

.elementor-3595 .elementor-element.elementor-element-890e933 .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    color: var( --e-global-color-primary);
}

.elementor-3595 .elementor-element.elementor-element-890e933>.elementor-widget-container {
    padding: 0px 0px 0px 10px;
}

.elementor-3595 .elementor-element.elementor-element-890e933 {
    width: var( --container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

@media(max-width:1540px) {
    .elementor-3595 .elementor-element.elementor-element-94e89a4>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1280px) {
    .elementor-3595 .elementor-element.elementor-element-3a1cc05 {
        padding: 0px 15px 0px 15px;
    }
    .elementor-3595 .elementor-element.elementor-element-3eea62b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-3595 .elementor-element.elementor-element-3eea62b>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 15px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-94e89a4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-3595 .elementor-element.elementor-element-94e89a4>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 15px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-1712e85>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-1712e85 {
        width: auto;
        max-width: auto;
    }
    .elementor-3595 .elementor-element.elementor-element-99ba2d6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-3595 .elementor-element.elementor-element-99ba2d6>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 15px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-65e5c5f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-65e5c5f {
        width: auto;
        max-width: auto;
    }
    .elementor-3595 .elementor-element.elementor-element-b7a8389 {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-19778b0>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-19778b0 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-3595 .elementor-element.elementor-element-19778b0>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-19778b0 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933 {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:479px) {
    .elementor-3595 .elementor-element.elementor-element-19778b0>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-19778b0 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3595 .elementor-element.elementor-element-890e933 {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width:480px) {
    .elementor-3595 .elementor-element.elementor-element-3eea62b {
        width: 36%;
    }
    .elementor-3595 .elementor-element.elementor-element-94e89a4 {
        width: 26%;
    }
    .elementor-3595 .elementor-element.elementor-element-99ba2d6 {
        width: 38%;
    }
}

@media(max-width:1280px) and (min-width:480px) {
    .elementor-3595 .elementor-element.elementor-element-3eea62b {
        width: 100%;
    }
    .elementor-3595 .elementor-element.elementor-element-94e89a4 {
        width: 100%;
    }
    .elementor-3595 .elementor-element.elementor-element-99ba2d6 {
        width: 100%;
    }
}