.elementor-4374 .elementor-element.elementor-element-8101544:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4374 .elementor-element.elementor-element-8101544>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-de8e16c);
}

.elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated>.elementor-background-overlay {
    background-color: var( --e-global-color-de8e16c);
    opacity: 1;
}

.elementor-bc-flex-widget .elementor-4374 .elementor-element.elementor-element-8101544.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4374 .elementor-element.elementor-element-8101544.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

.elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder,
.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-4374 .elementor-element.elementor-element-12592c7 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-4374 .elementor-element.elementor-element-d26fcf5 {
    width: var( --container-widget-width, 600px);
    max-width: 600px;
    --container-widget-width: 600px;
    --container-widget-flex-grow: 0;
}

.elementor-4374 .elementor-element.elementor-element-d26fcf5>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-4374 .elementor-element.elementor-element-d26fcf5 .wdt-mailchimp-holder .wdt-mailchimp-subscribe-form {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-4374 .elementor-element.elementor-element-d26fcf5 .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-button-holder button:hover {
    color: var( --e-global-color-133b35f);
    background-color: var( --e-global-color-accent);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: center;
    --icon-vertical-offset: 0px;
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-4374 .elementor-element.elementor-element-d3cfce0 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-4374 .elementor-element.elementor-element-88f61fb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4374 .elementor-element.elementor-element-88f61fb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/Home-3-Category-04.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-4374 .elementor-element.elementor-element-88f61fb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4374 .elementor-element.elementor-element-88f61fb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-4374 .elementor-element.elementor-element-f4ccaea img {
    opacity: 0;
}

@media(max-width:767px) and (min-width:480px) {
    .elementor-4374 .elementor-element.elementor-element-8101544 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4374 .elementor-element.elementor-element-d26fcf5 {
        width: var( --container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:767px) {
    .elementor-4374 .elementor-element.elementor-element-8101544:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-4374 .elementor-element.elementor-element-8101544>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/Home-3-Category-04.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated>.elementor-background-overlay {
        opacity: 0.8;
    }
    .elementor-4374 .elementor-element.elementor-element-8101544>.elementor-element-populated {
        padding: 50px 30px 50px 30px;
    }
    .elementor-4374 .elementor-element.elementor-element-d26fcf5 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
}

@media(max-width:479px) {
    .elementor-4374 .elementor-element.elementor-element-d26fcf5 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
}