.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder,
.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    color: var( --e-global-color-primary);
}

.elementor-2873 .elementor-element.elementor-element-009888d .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

body.rtl .elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

body:not(.rtl) .elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf {
    --e-icon-list-icon-size: 13px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 3px;
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-icon {
    padding-right: 2px;
}

.elementor-2873 .elementor-element.elementor-element-1fec4cf .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder,
.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    color: var( --e-global-color-primary);
}

.elementor-2873 .elementor-element.elementor-element-8338f4c .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

body.rtl .elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

body:not(.rtl) .elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-3baf30c {
    --e-icon-list-icon-size: 13px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 3px;
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-icon {
    padding-right: 2px;
}

.elementor-2873 .elementor-element.elementor-element-3baf30c .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-column-gap-custom {
    margin: -15px;
}

.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-column-gap-custom .wdt-column {
    padding: 15px;
}

.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a {
    border-radius: 10px 10px 10px 10px;
}

.elementor-2873 .elementor-element.elementor-element-04165ad .wdt-content-item .wdt-content-description {
    color: var( --e-global-color-133b35f);
}

@media(min-width:480px) {
    .elementor-2873 .elementor-element.elementor-element-1ea8f53 {
        width: 30%;
    }
    .elementor-2873 .elementor-element.elementor-element-1d116f9 {
        width: 20%;
    }
    .elementor-2873 .elementor-element.elementor-element-966222f {
        width: 50%;
    }
}

@media(max-width:1280px) and (min-width:480px) {
    .elementor-2873 .elementor-element.elementor-element-1ea8f53 {
        width: 100%;
    }
    .elementor-2873 .elementor-element.elementor-element-1d116f9 {
        width: 100%;
    }
    .elementor-2873 .elementor-element.elementor-element-966222f {
        width: 100%;
    }
}

@media(max-width:1280px) {
    .elementor-2873 .elementor-element.elementor-element-8dd8a46 {
        padding: 0px 15px 0px 15px;
    }
    .elementor-2873 .elementor-element.elementor-element-1ea8f53>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-2873 .elementor-element.elementor-element-1ea8f53>.elementor-element-populated {
        margin: 20px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 15px 0px 15px 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-009888d>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-009888d {
        width: auto;
        max-width: auto;
    }
    .elementor-2873 .elementor-element.elementor-element-1d116f9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-2873 .elementor-element.elementor-element-1d116f9>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 25px 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-8338f4c>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-8338f4c {
        width: auto;
        max-width: auto;
    }
    .elementor-2873 .elementor-element.elementor-element-966222f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-2873 .elementor-element.elementor-element-966222f>.elementor-element-populated {
        padding: 0px 0px 15px 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-04165ad .wdt-column-gap-custom {
        margin: -0px;
    }
    .elementor-2873 .elementor-element.elementor-element-04165ad .wdt-column-gap-custom .wdt-column {
        padding: 0px;
    }
    .elementor-2873 .elementor-element.elementor-element-04165ad>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
}