.elementor-3715 .elementor-element.elementor-element-052f830>.elementor-background-overlay {
    background-color: var( --e-global-color-secondary);
    opacity: 1;
}

.elementor-3715 .elementor-element.elementor-element-052f830 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 0px 8px 0px;
}

.elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-1b0312a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-1b0312a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2);
}

body.rtl .elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2);
}

body:not(.rtl) .elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-icon i {
    color: var( --e-global-color-133b35f);
    transition: color 0.3s;
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-icon svg {
    fill: var( --e-global-color-133b35f);
    transition: fill 0.3s;
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-3715 .elementor-element.elementor-element-241537e {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-3715 .elementor-element.elementor-element-241537e .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-1e7b264.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-1e7b264.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-61f0b7e .wdt-animation-wrapper div[class*="-marqee"].left-to-right,
.elementor-3715 .elementor-element.elementor-element-61f0b7e .wdt-animation-wrapper div[class*="-marqee"].left-to-right~div.wdt-animation-cloned-marqee,
.elementor-3715 .elementor-element.elementor-element-61f0b7e .wdt-animation-wrapper div[class*="-marqee"].right-to-left,
.elementor-3715 .elementor-element.elementor-element-61f0b7e .wdt-animation-wrapper div[class*="-marqee"].right-to-left~div.wdt-animation-cloned-marqee {
    animation-duration: 20s;
}

.elementor-3715 .elementor-element.elementor-element-61f0b7e .icon-item i {
    height: 50px;
}

.elementor-3715 .elementor-element.elementor-element-61f0b7e .image-item img {
    width: 50px;
    height: 50px;
}

.elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-f675483.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-f675483.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-f675483.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3715 .elementor-element.elementor-element-4230308 {
    width: auto;
    max-width: auto;
}

.elementor-3715 .elementor-element.elementor-element-9876c21>.elementor-background-overlay {
    opacity: 0.07;
}

.elementor-3715 .elementor-element.elementor-element-9876c21 {
    border-style: none;
    padding: 0px 0px 0px 0px;
}

.elementor-3715 .elementor-element.elementor-element-10cc385>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3715 .elementor-element.elementor-element-8f8da30 {
    width: initial;
    max-width: initial;
}

.elementor-3715 .elementor-element.elementor-element-38cfa95.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-3715 .elementor-element.elementor-element-7c08059 {
    width: initial;
    max-width: initial;
}

.elementor-3715 .elementor-element.elementor-element-9bbe6fb.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list>div.search-item a.wdt-search-icon,
.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list>div.search-item a.wdt-search-icon>*,
.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list-item div[class*="menu-icon"] i,
.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list>div.wdt-header-icons-list-item .wdt-shop-menu-cart-icon {
    color: var( --e-global-color-primary);
}

.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list-item a:hover i,
.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list>div.search-item a.wdt-search-icon:hover>*,
.elementor-3715 .elementor-element.elementor-element-f05e942 .wdt-header-icons-list>div.wdt-header-icons-list-item .wdt-shop-menu-icon:hover .wdt-shop-menu-cart-icon {
    color: var( --e-global-color-accent);
}

.elementor-3715 .elementor-element.elementor-element-f05e942 {
    width: initial;
    max-width: initial;
}

.elementor-3715 .elementor-element.elementor-element-d256e77 {
    width: initial;
    max-width: initial;
}

@media(max-width:1280px) {
    .elementor-3715 .elementor-element.elementor-element-10cc385 {
        padding: 20px 0px 20px 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3715 .elementor-element.elementor-element-f05e942>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-d256e77>.elementor-widget-container {
        margin: -4px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-3715 .elementor-element.elementor-element-38cfa95.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
}

@media(max-width:479px) {
    .elementor-3715 .elementor-element.elementor-element-1b0312a {
        width: 50%;
    }
    .elementor-3715 .elementor-element.elementor-element-1b0312a.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3715 .elementor-element.elementor-element-1b0312a>.elementor-element-populated {
        margin: 0px 0px 5px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-241537e {
        width: auto;
        max-width: auto;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264 {
        width: 100%;
    }
    .elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-1e7b264.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264>.elementor-element-populated {
        margin: 0px 0px 05px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-f675483 {
        width: 50%;
    }
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 50%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 100%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-9bbe6fb.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-f05e942>.elementor-widget-container {
        padding: 0px 10px 0px 0px;
    }
    .elementor-3715 .elementor-element.elementor-element-d256e77 {
        width: auto;
        max-width: auto;
    }
}

@media(min-width:480px) {
    .elementor-3715 .elementor-element.elementor-element-1b0312a {
        width: 30%;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264 {
        width: 40%;
    }
    .elementor-3715 .elementor-element.elementor-element-f675483 {
        width: 30%;
    }
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 10%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 80%;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 10%;
    }
}

@media(max-width:1540px) and (min-width:480px) {
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 60%;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 20%;
    }
}

@media(max-width:1280px) and (min-width:480px) {
    .elementor-3715 .elementor-element.elementor-element-1b0312a {
        width: 25%;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264 {
        width: 50%;
    }
    .elementor-3715 .elementor-element.elementor-element-f675483 {
        width: 25%;
    }
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 80%;
    }
}

@media(max-width:1024px) and (min-width:480px) {
    .elementor-3715 .elementor-element.elementor-element-1b0312a {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264 {
        width: 60%;
    }
    .elementor-3715 .elementor-element.elementor-element-f675483 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 20%;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 80%;
    }
}

@media(max-width:767px) and (min-width:480px) {
    .elementor-3715 .elementor-element.elementor-element-1b0312a {
        width: 40%;
    }
    .elementor-3715 .elementor-element.elementor-element-1e7b264 {
        width: 62%;
    }
    .elementor-3715 .elementor-element.elementor-element-f675483 {
        width: 60%;
    }
    .elementor-3715 .elementor-element.elementor-element-1f91995 {
        width: 40%;
    }
    .elementor-3715 .elementor-element.elementor-element-38cfa95 {
        width: 100%;
    }
    .elementor-3715 .elementor-element.elementor-element-9bbe6fb {
        width: 60%;
    }
}