.elementor-kit-13 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #000000;
    --e-global-color-text: #A9A9A9;
    --e-global-color-accent: #DD7210;
    --e-global-color-33ebf68: #101010;
    --e-global-color-de8e16c: #2B2B2B;
    --e-global-color-133b35f: #FFFFFF;
    --e-global-color-abeec03: #5E5E5E;
    --e-global-typography-primary-font-family: "Marcellus";
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Marcellus";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Mulish";
    --e-global-typography-text-font-weight: 600;
    --e-global-typography-accent-font-family: "Mulish";
    --e-global-typography-accent-font-weight: 600;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1720px;
}

.e-con {
    --container-max-width: 1720px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 0px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 0px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1540px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1020px;
    }
    .e-con {
        --container-max-width: 1020px;
    }
}

@media(max-width:1280px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 900px;
    }
    .e-con {
        --container-max-width: 900px;
    }
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 710px;
    }
    .e-con {
        --container-max-width: 710px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 420px;
    }
    .e-con {
        --container-max-width: 420px;
    }
}

@media(max-width:479px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 290px;
    }
    .e-con {
        --container-max-width: 290px;
    }
}