.elementor-3730 .elementor-element.elementor-element-592bbb6:not(.elementor-motion-effects-element-type-background),
.elementor-3730 .elementor-element.elementor-element-592bbb6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-3730 .elementor-element.elementor-element-592bbb6>.elementor-background-overlay {
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3730 .elementor-element.elementor-element-592bbb6 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px;
}

.elementor-3730 .elementor-element.elementor-element-03e4413>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-3730 .elementor-element.elementor-element-03e4413 {
    padding: 0px 0px 70px 0px;
}

.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder,
.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-3730 .elementor-element.elementor-element-7f88889>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-icon i {
    color: var( --e-global-color-133b35f);
    transition: color 0.3s;
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-133b35f);
    transition: fill 0.3s;
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: center;
    --icon-vertical-offset: 0px;
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-3730 .elementor-element.elementor-element-bbfc428 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-3730 .elementor-element.elementor-element-14429b1.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-3730 .elementor-element.elementor-element-b3ddb87 .wdt-accordion-toggle-holder {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-3730 .elementor-element.elementor-element-b3ddb87 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
.elementor-3730 .elementor-element.elementor-element-b3ddb87 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-b3ddb87 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-b3ddb87 {
    width: var( --container-widget-width, 130px);
    max-width: 130px;
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
}

.elementor-3730 .elementor-element.elementor-element-0e8fee3.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-3730 .elementor-element.elementor-element-fd8fc49 .wdt-accordion-toggle-holder {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-3730 .elementor-element.elementor-element-fd8fc49 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
.elementor-3730 .elementor-element.elementor-element-fd8fc49 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-fd8fc49 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-fd8fc49 {
    width: var( --container-widget-width, 130px);
    max-width: 130px;
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
}

.elementor-3730 .elementor-element.elementor-element-4172650.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-3730 .elementor-element.elementor-element-b05c3dc .wdt-accordion-toggle-holder {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-3730 .elementor-element.elementor-element-b05c3dc .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
.elementor-3730 .elementor-element.elementor-element-b05c3dc .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-b05c3dc .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-b05c3dc {
    width: var( --container-widget-width, 130px);
    max-width: 130px;
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
}

.elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
    padding: 0px 0px 0px 40px;
}

.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder,
.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    text-transform: capitalize;
}

.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder .wdt-heading-subtitle-wrapper {
    color: var( --e-global-color-secondary);
}

.elementor-3730 .elementor-element.elementor-element-4a82139>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
}

.elementor-3730 .elementor-element.elementor-element-67ceb76 .wdt-column-gap-custom {
    margin: -8px;
}

.elementor-3730 .elementor-element.elementor-element-67ceb76 .wdt-column-gap-custom .wdt-column {
    padding: 8px;
}

.elementor-3730 .elementor-element.elementor-element-67ceb76 .wdt-content-item {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-3730 .elementor-element.elementor-element-771d311>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3730 .elementor-element.elementor-element-771d311 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var( --e-global-color-abeec03);
    padding: 15px 0px 15px 0px;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-3730 .elementor-element.elementor-element-711090b {
    color: var( --e-global-color-133b35f);
}

.elementor-3730 .elementor-element.elementor-element-3a867ee.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3730 .elementor-element.elementor-element-f3924bd .wdt-column-gap-custom {
    margin: -8px;
}

.elementor-3730 .elementor-element.elementor-element-f3924bd .wdt-column-gap-custom .wdt-column {
    padding: 8px;
}

.elementor-3730 .elementor-element.elementor-element-f3924bd .wdt-content-item {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-3730 .elementor-element.elementor-element-f3924bd {
    width: var( --container-widget-width, 410px);
    max-width: 410px;
    --container-widget-width: 410px;
    --container-widget-flex-grow: 0;
}

@media(min-width:480px) {
    .elementor-3730 .elementor-element.elementor-element-cfb65f9 {
        width: 22%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1 {
        width: 23%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3 {
        width: 13%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650 {
        width: 20%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d {
        width: 22%;
    }
}

@media(max-width:1540px) and (min-width:480px) {
    .elementor-3730 .elementor-element.elementor-element-cfb65f9 {
        width: 25%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1 {
        width: 20%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3 {
        width: 13%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650 {
        width: 17%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d {
        width: 25%;
    }
}

@media(max-width:1280px) and (min-width:480px) {
    .elementor-3730 .elementor-element.elementor-element-cfb65f9 {
        width: 40%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1 {
        width: 30%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3 {
        width: 30%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650 {
        width: 40%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d {
        width: 30%;
    }
}

@media(max-width:1024px) and (min-width:480px) {
    .elementor-3730 .elementor-element.elementor-element-cfb65f9 {
        width: 48%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1 {
        width: 26%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3 {
        width: 26%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650 {
        width: 48%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d {
        width: 40%;
    }
}

@media(max-width:767px) and (min-width:480px) {
    .elementor-3730 .elementor-element.elementor-element-cfb65f9 {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1 {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3 {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650 {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-7d338db {
        width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-3a867ee {
        width: 100%;
    }
}

@media(max-width:1540px) {
    .elementor-3730 .elementor-element.elementor-element-592bbb6 {
        padding: 100px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
        padding: 0px 0px 0px 26px;
    }
    .elementor-3730 .elementor-element.elementor-element-67ceb76 .wdt-column-gap-custom {
        margin: -5px;
    }
    .elementor-3730 .elementor-element.elementor-element-67ceb76 .wdt-column-gap-custom .wdt-column {
        padding: 5px;
    }
}

@media(max-width:1280px) {
    .elementor-3730 .elementor-element.elementor-element-592bbb6 {
        padding: 70px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-cfb65f9>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 {
        width: var( --container-widget-width, 370px);
        max-width: 370px;
        --container-widget-width: 370px;
        --container-widget-flex-grow: 0;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
        padding: 0px 50px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-67ceb76>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-3730 .elementor-element.elementor-element-592bbb6 {
        padding: 70px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-cfb65f9>.elementor-element-populated {
        padding: 0px 30px 40px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889>.elementor-widget-container {
        padding: 0px 0px 10px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 {
        width: var( --container-widget-width, 350px);
        max-width: 350px;
        --container-widget-width: 350px;
        --container-widget-flex-grow: 0;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-3730 .elementor-element.elementor-element-592bbb6 {
        padding: 60px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-03e4413 {
        padding: 0px 0px 40px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-cfb65f9>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-3730 .elementor-element.elementor-element-7f88889 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-3730 .elementor-element.elementor-element-7f88889 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-b3ddb87 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-fd8fc49 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-b05c3dc {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder,
    .elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-3730 .elementor-element.elementor-element-4a82139 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
        font-size: 24px;
    }
    .elementor-3730 .elementor-element.elementor-element-4a82139>.elementor-widget-container {
        padding: 0px 0px 5px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-711090b {
        text-align: center;
    }
    .elementor-3730 .elementor-element.elementor-element-711090b>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-3a867ee.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-3730 .elementor-element.elementor-element-f3924bd .wdt-column-gap-custom {
        margin: -4px;
    }
    .elementor-3730 .elementor-element.elementor-element-f3924bd .wdt-column-gap-custom .wdt-column {
        padding: 4px;
    }
}

@media(max-width:479px) {
    .elementor-3730 .elementor-element.elementor-element-592bbb6 {
        padding: 50px 0px 0px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-03e4413 {
        padding: 0px 0px 50px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-cfb65f9>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-14429b1>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-0e8fee3>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-4172650>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
    .elementor-3730 .elementor-element.elementor-element-f89686d>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
}